<div class="row"></div>
<div class="container">
<div class="sixteen columns alpha">
<h1><%= @user.username %>'s Coverage Reports</h1>
<div class="two columns alpha omega">
<%= form_tag(edit_user_path(@user), method: "get") do %>
<%= submit_tag "Edit Account" %>
<% end %>
</div>

<div class="row"></div>

<div class="sixteen columns alpha hits_table">
<table>
  <tr>
    <th>
      Coverage Report Name
    </th>
    <th>
      Options
    </th>
  </tr>
  <% @coverage_reports.each do |report| %>
  <tr>
      <td>
        <%= report.company_name %>: <%= report.announcement %>
      </td>
      <td>
      <%= form_tag(coverage_report_path(report), method: "get") do %>
        <%= hidden_field_tag :user_id, @user.id %>
        <%= submit_tag "View" %>
      <% end %>
      </td>
  </tr>
  <% end %>
</table>
</div>
<div class="row"></div>
<%= form_tag(new_coverage_report_path, method: "get") do %>
<%= hidden_field :user, :id %>
<%= submit_tag "New Coverage Report" %>
<% end %>
</div>
</div>
