<h1>View <%= @user.username %>'s Coverage Reports</h1>

<%= form_tag(edit_user_path(@user), method: "get") do %>
<%= submit_tag "Edit Account" %>
<% end %>

<%= form_tag(user_path(@user), method: "delete") do %>
<%= submit_tag "Delete Account" %>
<% end %>

<ul>
  <% @coverage_reports.each do |report| %>
  <li>
      <h3>
        <%= report.company_name %>: <%= report.announcement %>
      </h3>
      <%= form_tag(coverage_report_path(report), method: "get") do %>
        <%= hidden_field_tag :user_id, @user.id %>
        <%= submit_tag "View Coverage Report" %>
      <% end %>
  </li>
  <% end %>
</ul>

<%= form_tag(new_coverage_report_path, method: "get") do %>
<%= hidden_field :user, :id %>
<%= submit_tag "Create New Coverage Report" %>
<% end %>
